{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/modal_completion_confirm

    Modal with 3 buttons for manual completion confirmation.

    Context variables required for this template:
    * title Modal title
    * body Modal body content

    Example context (json):
    {
        "title": "Mark as Done?",
        "body": "Please choose an option:"
    }
}}

{{< core/modal }}
    {{$footer}}
        <button type="button" class="btn btn-outline-primary" data-action="complete">{{#str}} completion_confirm_complete, core_course {{/str}}</button>
        <button type="button" class="btn btn-primary" data-action="complete-quiz">{{#str}} completion_confirm_complete_quiz, core_course {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
