[submodule "mod/coursedashboard"]
	path = mod/coursedashboard
	url = git@github.com:hitloop-ai/analytics-dashboard.git
[submodule "local/veda"]
	path = local/veda
	url = git@github.com:hitloop-ai/veda.git
[submodule "mod/mod/codingplayground"]
	path = mod/mod/codingplayground
	url = git@github.com:hitloop-ai/coding_playground_plugin.git
[submodule "mod/codingplayground"]
	path = mod/codingplayground
	url = git@github.com:hitloop-ai/coding_playground_plugin.git
