{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_easycustmenu/menu_item_section

    Example context (json):
    {
    }
}}

<span tabindex="0" role="button" aria-haspopup="true" data-drag-type="move" title="{{label}}" style="margin: auto 0;">
    <i class="fa fa-arrows"></i>
</span>
<div class="menu-item {{menu_child_num}}" style="{{#itemdepth_left_move}}{{itemdepth_left_move}}{{/itemdepth_left_move}}{{^itemdepth_left_move}}padding-left: 24px;{{/itemdepth_left_move}}">
    <div class="d-flex" style="width:100%;">
        <input type="hidden" name="itemdepth[]" value="{{itemdepth}}">
        <div class="col">
            <input type="text" name="label[]" class="form-control input-label" placeholder="Menu Label" value="{{label}}" required>
        </div>
        <div class="col">
            <input type="text" name="link[]" class="form-control input-link" placeholder="Menu Link" value="{{link}}">
        </div>
    </div>
</div>
<div class="btn-action-wrapper">
    <span class="btn btn-remove " data-id="{{menu_item_num}}" title="{{#str}} remove_menu, local_easycustmenu {{/str}} " style="margin: auto;">
       <i class="fa fa-minus-circle" aria-hidden="true"></i>
    </span>
    {{#apply_condition}}
    <span class="btn btn-add-condition" data-id="{{menu_item_num}}" title="{{#str}} add_contion_settings, local_easycustmenu {{/str}}" style="margin: auto;">
       <i class="fa fa-cog" aria-hidden="true"></i>
    </span>
    {{/apply_condition}}
</div>

{{#apply_condition}}
<div class="condition-fields" style="display:none; flex-basis: 100%; padding-left: 24px;">
    <ul class="condition-wrapper">
        {{#new_tab_condition}}
        <li class="condition">
            {{#str}} open_in_a_new_browser_window, local_easycustmenu {{/str}} 
            <label data-id="{{menu_item_num}}">
                <input type="checkbox" name="target_blank[]"  class="target_blank_no" id="target_no_{{menu_item_num}}" value="0" {{^target_blank}}checked{{/target_blank}} >
                {{#str}} no, core {{/str}} 
            </label> 
            <label data-id="{{menu_item_num}}">
                <input type="checkbox" name="target_blank[]" class="target_blank_yes" id="target_yes_{{menu_item_num}}" value="1" {{#target_blank}}checked{{/target_blank}}>
                {{#str}} yes, core {{/str}}
            </label>
        </li>
        {{/new_tab_condition}}
        {{#multi_lang}}
        <li class="condition">
            <label>
                {{#str}} show_the_menu_when_language_is, local_easycustmenu {{/str}} 
            </label>   
            <input type="input" name="language[]" class="form-control input-language"  placeholder="{{#str}} show_the_menu_when_language_placeholder, local_easycustmenu {{/str}}" value="{{languages}}">      
        </li>
        {{/multi_lang}}
        {{#user_role_condition}}
        <li class="condition">
            <label for="user_rolw_{{menu_item_num}}">
                {{#str}} show_the_menu_when_user_is, local_easycustmenu {{/str}} 
            </label>
            <select name="user_role[]" class="custom-select user_role" id="user_rolw_{{menu_item_num}}">
                {{#condition_user_roles}}
                    <option value="{{key}}" {{#is_selected}}selected{{/is_selected}} > {{value}}</option>
                {{/condition_user_roles}}
            </select>
        </li>
        {{/user_role_condition}}
    </ul>
</div>
{{/apply_condition}}